@charset "utf-8";
/* CSS Document */

/* Beginning of About Icon */

/* #about .st0 {
	clip-path:url(../img/about.svg#SVGID_2_);
	fill:#999;
	stroke:#000000;
	stroke-miterlimit:10;
	transition: all .4s;
	}

#about	.st1 {
	fill:#ffffff;
	stroke:#000000;
	stroke:miterlimit:10;
	}

	#about:hover .st0, .st1 {
	fill: #3a8caf;
	stroke: white;
	} */

#about .st0{
	clip-path:url(../img/about.svg#SVGID_2_);

}

#about .st1{
	clip-path:url(../img/about.svg#tear_2_);
	fill:#999;
	stroke:#000000;
	stroke-miterlimit:10;
}

#about .st2{
	clip-path:url(../img/about.svg#tear_2_);
}

#about .st3{
	fill:#FFFFFF;
	stroke:#000000;
	stroke-miterlimit:10;
}

#about:hover .st1 {
	fill: #3A8CAF;
	display: block;
}

/* End of About Icon */

/* Start of Portfolio Icon */

#portfolio .st0 {
	clip-path:url(../img/portfolio.svg#SVGID_2_);
	fill:#999;
	/* stroke:#000000; */
	stroke-miterlimit:10;
	transition: all .4s;
	}

#portfolio	.st1 {
	fill:#999;
	/* stroke:#000000; */
	stroke-miterlimit:10;
	}

#portfolio	.st2 {
	fill:none;
	stroke:#ffffff;
	stroke-miterlimit:10;
	}

	#portfolio:hover .st0, .st1, .st2 {
	fill: #27aae1;
	stroke: white;
	}

/* End of Portfolio Icon */
/* Start of Services Icon */

/* #Services .st0{
	clip-path:url(../img/services.svg#tear_1_);
	fill:#999;
	stroke:#000000;
	stroke-miterlimit:10;
	transition: all .4s;
	}

#Services .st1{
	clip-path:url(../img/services.svg#tear_1_);
	}

#Services .st2{
	fill:none;
	}

#Services .st3{
	fill:#3E97D3;
	}

#Services .st4{
	fill:#FFFFFF;
	}

#Services .st5{
	fill:#3B4859;
	}

#Services .st6{
	fill:#2D3F50;
	}

#Services .st7{
	fill:#2F3F52;
	}

#Services .st8{
	fill:#454F60;
	}

#Services .st9{
	fill:#465060;
	}

#Services .st10{
	fill:#424D5E;
	}

#Services .st11{
	fill:#495263;
	}

#Services .st12{
	fill:#525A69;
	}

#Services .st13{
	fill:#4E5767;
	}

#Services .st14{
	fill:#485262;
	}

#Services .st15{
	fill:#465061;
	}

#Services .st16{
	fill:#4A5463;
	}

#Services .st17{
	fill:#475162;
	}

#Services .st18{
	fill:#444E5F;
	}

#Services .st19{
	fill:#3F4B5C;
	}

#Services .st20{
	fill:#444F5F;
	}

#Services .st21{
	fill:#4F5767;
	}

#Services .st22{
	fill:#535B6A;
	}

#Services .st23{
	fill:#4A5364;
	}

#Services .st24{
	fill:#4C5565;
	}


	#Services:hover .st0 {
	fill:#1B75BC;
	/* stroke: white; */
	/*} */

/* #Services .st0{clip-path:url(../img/services.svg#shadow_1_);}
#Services .st1{clip-path:url(../img/services.svg#SVGID_2_);fill:#1B75BC;}
#Services .st2{clip-path:url(../img/services.svg#SVGID_2_);}
#Services .st3{fill:none;}
#Services .st4{fill:#3E97D3;}
#Services .st5{fill:#FFFFFF;}
#Services .st6{fill:#3B4859;}
#Services .st7{fill:#2D3F50;}
#Services .st8{fill:#2F3F52;}
#Services .st9{fill:#454F60;}
#Services .st10{fill:#465060;}
#Services .st11{fill:#424D5E;}
#Services .st12{fill:#495263;}
#Services .st13{fill:#525A69;}
#Services .st14{fill:#4E5767;}
#Services .st15{fill:#485262;}
#Services .st16{fill:#465061;}
#Services .st17{fill:#4A5463;}
#Services .st18{fill:#475162;}
#Services .st19{fill:#444E5F;}
#Services .st20{fill:#3F4B5C;}
#Services .st21{fill:#444F5F;}
#Services .st22{fill:#4F5767;}
#Services .st23{fill:#535B6A;}
#Services .st24{fill:#4A5364;}
#Services .st25{fill:#4C5565;}

#Service:hover .st0 {
	display: block;
} */

#Services .st0{clip-path:url(../img/services.svg#SVGID_2_);fill:#999;}
#Services .st1{clip-path:url(../img/services.svg#SVGID_2_);}
#Services .st2{fill:none;}
#Services .st3{fill:#3E97D3;}
#Services .st4{fill:#FFFFFF;}
#Services .st5{fill:#3B4859;}
#Services .st6{fill:#2D3F50;}
#Services .st7{fill:#2F3F52;}
#Services .st8{fill:#454F60;}
#Services .st9{fill:#465060;}
#Services .st10{fill:#424D5E;}
#Services .st11{fill:#495263;}
#Services .st12{fill:#525A69;}
#Services .st13{fill:#4E5767;}
#Services .st14{fill:#485262;}
#Services .st15{fill:#465061;}
#Services .st16{fill:#4A5463;}
#Services .st17{fill:#475162;}
#Services .st18{fill:#444E5F;}
#Services .st19{fill:#3F4B5C;}
#Services .st20{fill:#444F5F;}
#Services .st21{fill:#4F5767;}
#Services .st22{fill:#535B6A;}
#Services .st23{fill:#4A5364;}
#Services .st24{fill:#4C5565;}

	#Services:hover .st0 {
		fill: #1B75BC;
	}

/* End of Services Icon */
/* Start of Contact Icon */

#Contact .st0 {
	clip-path:url(../img/contact.svg#SVGID_2_);
	fill:#999;
	stroke:#000000;
	stroke-width:1.0306;
	stroke-miterlimit:10;
	transition: all .4s;
	}

#Contact	.st1 {
	clip-path:url(#SVGID_2_);
	}

#Contact	.st2 {
	fill:#ffffff;
	}
	
	#Contact:hover .st0 {
	fill:#00aeef;
	stroke: white;
	}

/* End of Contact Icon */
/* Start of Facebook Icon */

#facebook .st0 {
	clip-path:url(../img/facebook.svg#Rip_3_);
	fill:#999;
	stroke:#000000;
	stroke-miterlimit:10;
	transition: all .4s;
	}

#facebook .st1 {
	clip-path:url(../img/facebook.svg#Rip_3_);
	fill:#ffffff;
	stroke:#000000;
	stroke-miterlimit:10;
	}

	#facebook:hover .st0 {
	fill:#252964;
	stroke: white;
	}


/* End of Facebook Icon */
/* Start of Twitter Icon */

#twitter .st0{
	clip-path:url(../img/twitter.svg#tear_2_);
	fill:#999;
	stroke:#000000;
	stroke-miterlimit:10;
	transition: all .4s;
	}

#twitter .st1{
	clip-path:url(../img/twitter.svg#tear_2_);
	}

#twitter .st2{
	fill:#FFFFFF;
	}

#twitter .st3{
	/* fill:#54C2E8; */
	fill: #999;
	}

	#twitter:hover .st0 {
	fill:#3cb6e0;
	stroke: white;
	}

	#twitter:hover .st2 {
	fill:#ffffff;
	}

	#twitter:hover .st3 {
		fill: #54c2e8;
	}

	
/* End of Twitter Icon */
/* Start of LinkedIn Icon */

#linkedin .st0 {
	clip-path:url(../img/linkedin.svg#SVGID_2_);
	fill:#999;
	stroke:#000000;
	stroke-miterlimit:10;
	transition: all .4s;
	}

#linkedin .st1 {
	clip-path:url(../img/linkedin.svg#SVGID_2_);
	fill:#ffffff;
	}

	#linkedin:hover .st0 {
	fill:#3a8caf;
	stroke: white;
	}

	#linked .clickTrigger .st0 {
		fill: #333;
		stroke: white;
	}


#behance .st0 {
	clip-path:url(../img/behance.svg#SVGID_2_);
	}

#behance .st1 {
	fill:#999;
	stroke:#000000;
	stroke-miterlimit:10;
	transition: all .4s;
	}

#behance .st2 {
	fill:#ffffff;
	}

#behance .st3 {
	fill:#999;
	}

	#behance:hover .st1 {
	fill:#4672bb;
	stroke: white;
	}

	#behance:hover .st3 {
	fill:#4672bb;
	stroke: white;
	}

	#behance .clickTrigger .st0 {
		fill: #333;
		stroke: white;
	}


#rssfeed .st0{
	clip-path:url(../img/rssfeed.svg#tear_1_);
	fill:#999;
	stroke:#000000;
	stroke-miterlimit:10;
	transition: all .4s;
	}

#rssfeed .st1{
	clip-path:url(../img/rssfeed.svg#tear_1_);
	fill:#FFFFFF;
	}

	#rssfeed:hover .st0 {
	fill:#e15c25;
	stroke: white;
	}

/* End of RSS Feed Icon */
/* Start of Flickr Icon */

#flickr .st0 {
	clip-path:url(../img/flickr.svg#tear_1_);
	fill:#999;
	stroke:#000000;
	stroke-miterlimit:10;
	transition: all .4s;
	}

#flickr .st1 {
	fill:#2a83c6;
	}

#flickr .st2 {
	fill:#d8186a;
	}

	#flickr:hover .st0 {
	/* fill:#DADDE0; */
	fill: #252964;
	stroke: white;
	}
/* End of Flickr Icon */



