// @font-face {
//     font-family: colors_of_autumnregular;
//     src: url(../fonts/colors_of_autumn-webfont.eot);
//     src: url(../fonts/colors_of_autumn-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/colors_of_autumn-webfont.woff2) format('woff2'), url(../fonts/colors_of_autumn-webfont.woff) format('woff'), url(../fonts/colors_of_autumn-webfont.ttf) format('truetype'), url(../fonts/colors_of_autumn-webfont.svg#colors_of_autumnregular) format('svg');
//     font-weight: 400;
//     font-style: normal
// }

@import url('https://fonts.googleapis.com/css?family=Caveat:400,700');


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
 /* overflow: hidden; */
}

.bluebackground {
    background: #2B2D42;
    color: #8D99AE;
    min-width: 100%;
}

.bluebackground h4 {
    color: $white;
}

.logo {
    margin-bottom: 1em;
    width: 100px;
}

a {
    color: $black;
}

a:hover {
    font-style: italic;
}

h1,
h2 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
    color: #ce171e !important;
    padding-bottom: .5em;
    padding-top: .5em;
}

h2 {
    margin-top: 1em;
}

h4 {
    font-family: 'Caveat', cursive;
    font-weight:400;
}

p {
    font-family: georgia, serif !important;
}

#wrapper {
	padding-top: 2em;
	padding-bottom: 2em;
}

.bold {
	font-weight: bold;
}

.italic {
    font-style: italic;
}

.photo {
    margin-right: 1em
}

.hidden {
    display: none;
}

#socialMedia {
    padding-top: 1em;
    padding-bottom: 1em;
}

.socialmedia img {
    width: 10%;
    float: left;
    padding-left: 15px;
    padding-bottom: 10px
}

.fBook {
    margin-top: 1em;
}

.twitter {
    margin-top: 1em;
}

.content-wrap {
  max-width: 70em;
  margin: 0 auto;
  padding: 3.75em 3.125em;
  overflow: hidden;
}

.content-wrap h2 {
    text-align: left;
}

.content-wrap h4 {
    text-align: left;
}

.content-wrap p {
    text-align: left;
}

.bluebackground .content-wrap a {
    color: $white;
}

.port-btns {
    margin-top: 1em;
}

.home {
    margin-right: 1em;
    margin-left: 1em;
}

.footerbar p {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 1px;
    font-size: .8em
}

.footerbar a {
    color: #00f
}


