// Custom styles 

//Google font Caveat 

@import url('https://fonts.googleapis.com/css?family=Caveat:400,700');


// Global Styles

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
 /* overflow: hidden; */
}

.bluebackground {
    background: #2B2D42;
    color: #8D99AE;
    min-width: 100%;
}

.bluebackground h4 {
    color: $white;
}

a {
    color: $black;
}

a:hover {
    font-style: italic;
}

h1,
h2 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
    color: #ce171e !important;
    padding-bottom: .5em;
    padding-top: .5em;
}

h2 {
    margin-top: 1em;
}

h4 {
    font-family: 'Caveat', cursive;
    font-weight:400;
}

p {
    font-family: georgia, serif !important;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.photo {
    margin-right: 1em
}

.hidden {
    display: none;
}

.content-wrap {
  max-width: 70em;
  margin: 0 auto;
  padding: 3.75em 3.125em;
  overflow: hidden;
}

.content-wrap h2 {
    text-align: left;
}

.content-wrap h4 {
    text-align: left;
}

.content-wrap p {
    text-align: left;
}

.bluebackground .content-wrap a {
    color: $white;
}

//End of Global Styles 


.logo {
    margin-bottom: 1em;
    width: 100px;
}

.fBook {
    margin-top: 1em;
}

.twitter {
    margin-top: 1em;
}

.port-btns {
    margin-top: 1em;
}



// Footer Styles

.footerbar p {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 1px;
    font-size: .8em
}

.footerbar a {
    color: #00f
}

#copyright {
    margin-top: 3em;
}

// End of Footer Styles


