<footer class="footerbar bluebackground">
            <div class="grid-x grid-margin-x content-wrap">
            <div class="small-12 medium-4 large-4 cell">
              <h4>Proudly Canadian</h4>
              <img src="{{root}}img/cdn.gif" alt="Canadian Flag">
            </div>
            <div class="small-12 medium-4  large-4 cell  float-right">
            <h4>London's Weather</h4>
            <!-- <div id="plemx-root">
            <a href="http://www.theweathernetwork.com">The Weather Network</a></div> 
            </div> -->
            <div id="plemx-root"></div> 
              <a href="http://www.theweathernetwork.com">The Weather Network</a>
            <div class="small-12 medium-12  large-12 cell">
              <p>© 2015 - 2018. All Rights reserved. <a href="privacypolicy.html" target="_blank">Privacy Policy</a></p>
          </div>
          </div>
</footer>