<header>
<!-- <div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text"><img src="{{root}}assets/img/MLA-Logo-Outlined.svg" alt="Mark Landeryou Artisan">Mark Landeryou Artisan Logo</li>
      <div class="row align-middle">
      <li>
        <a href="index.html">About</a>
      </li>
      <li><a href="portfolio.html">Portfolio</a></li>
      <li><a href="services.html">Services</a></li>
      <li><a href="contact.html">Contact</a></li>
      </div>
    </ul>
  </div> -->
  <!-- <div class="top-bar-right">
  <ul>
    <li>
        <a href="index.html">About</a>
      </li>
      <li><a href="portfolio.html">Portfolio</a></li>
      <li><a href="services.html">Services</a></li>
      <li><a href="contact.html">Contact</a></li>
  </ul>
  </div> -->
  <!-- <div class="top-bar-right">
    <ul class="menu">
      <li><input type="search" placeholder="Search"></li>
      <li><button type="button" class="button">Search</button></li>
    </ul>
  </div> -->
<!-- </div> -->
    <div class="grid-x grid-margin-x">
      <div class="large-6 cell">
        <h1 class="hide">Mark Landeryou Artisan</h1>
        <a href="index.html"><img src="{{root}}assets/img/MLA-Logo-Outlined.svg" alt="Mark Landeryou Aritsan Logo" class="logo"></a>
      </div>
      <div class="large-6 cell show-for-medium">
        <ul class="vertical menu align-right align-middle">
          <li><a href="index.html">About</a></li>
          <li><a href="portfolio.html">Portfolio</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>

      <!-- the trigger -->
      <!-- <div class="hide-for-medium">
      <div class="curtain-menu-button" data-curtain-menu-button>
        <div class="curtain-menu-button-toggle">
          <div class="bar1"></div>
          <div class="bar2"></div>
        </div>
      </div> -->

      <!-- the menu  -->
      <!-- <div class="curtain-menu">
        <div class="curtain"></div>
        <div class="curtain"></div>
        <div class="curtain"></div>
        <div class="curtain-menu-wrapper">
          <ul class="curtain-menu-list menu vertical">
            <li><a href="index.html">About</a></li>
            <li><a href="portfolio.html">Portfolio</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
      </div>
    </div> --> 
    </div>
    </header>