<header>
    <div class="grid-x grid-margin-x">
      <div class="large-12 cell">
        <h1 class="hide">Mark Landeryou Artisan</h1>
        <a href="index.html"><img src="{{root}}assets/img/Logo_outlined.svg" alt="Mark Landeryou Aritsan Logo" class="logo"></a>
      </div>
      <div class="large-12 cell show-for-medium">
        <ul class="menu align-right">
          <li><a href="index.html">About</a></li>
          <li><a href="portfolio.html">Portfolio</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
      <!-- the trigger -->
      <div class="hide-for-medium">
      <div class="curtain-menu-button" data-curtain-menu-button>
        <div class="curtain-menu-button-toggle">
          <div class="bar1"></div>
          <div class="bar2"></div>
        </div>
      </div>

      <!-- the menu  -->
      <div class="curtain-menu">
        <div class="curtain"></div>
        <div class="curtain"></div>
        <div class="curtain"></div>
        <div class="curtain-menu-wrapper">
          <ul class="curtain-menu-list menu vertical">
            <li><a href="index.html">About</a></li>
            <li><a href="portfolio.html">Portfolio</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
      </div>
    </div> 
    </div>
    </header>