<section id="socialMedia">
      <h2>Social Media</h2>
      <p>To connect with me via Social Networks please click on one of the links in this section.</p>
            <div class="grid-x grid-padding-x small-up-2 medium-up-4">
              <!-- <div class="cell"><object data="{{root}}assets/img/facebook.svg" class="socialIcons" id="facebook"></object>
              </div>
              <div class="cell"><object data="../assets/img/twitter.svg" class="socialIcons" id="twitter"></object></div>
              <div class="cell"><object data="../assets/img/linkedin.svg" class="socialIcons" id="linkedin"></div>
               <div class="cell"><object data="../assets/img/behance.svg" class="socialIcons" id="behance"></object></div>  -->
               <div class="cell"><i class="fa fa-facebook" aria-hidden="true"> Facebook </i></div>
               <div class="cell"><i class="fa fa-twitter" aria-hidden="true"> Twitter </i></div>
               <div class="cell"><i class="fa fa-linkedin" aria-hidden="true"> LinkedIn</i></div>
               <div class="cell"><i class="fa fa-behance" aria-hidden="true"> Behance</i></div>
               </div>
                 <div class="grid-x grid-padding-x small-up-1 medium-up-2">
                <div class="cell  fBook">
              <div class="fb-page" data-href="https://www.facebook.com/markedwardlanderyou" data-tabs="timeline,event,messages" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/markedwardlanderyou" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/markedwardlanderyou">Mark Landeryou</a></blockquote></div>
            </div>
            <div class="cell  twitter">
            <a class="twitter-timeline" data-height="500" data-theme="light" href="https://twitter.com/samurai71">Tweets by samurai71</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            </div>
            
        </section> 