{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy for Mark Landeryou Artisan, London Ontario</title>
    <meta name="description" content="Privacy Policy for Mark Landeryou Artisan from London Ontarion">
    <meta name="keywords" content="Privacy Policy,Mark Landeryou Artisan, London Ontario Canada">
    <!-- <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css"> -->
    <link rel="icon" href="{{root}}assets/img/favicon.ico" type="image/x-icon"/>
  </head>
  <body>
    
    
    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}
    
    

    
   
    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>