<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mark Landeryou | Resume</title>
    <link rel="stylesheet" href="{{root}}assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css">
    <link rel="icon" href="{{root}}assets/img/favicon.ico" type="image/x-icon"/>
    <script src="https://use.fontawesome.com/264e791b25.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet"> 
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div class="grid-container" id="wrapper">
    
    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}
    
    

    
    </div>
    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>